# Build results
bin/
obj/

# Build verify outputs
build_verify_out*/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# NuGet
*.nupkg

# Publish
publish/
out/

# Logs
*.log

# Local configs & secrets
appsettings.Local.json
appsettings.Development.local.json
*.local.json
.env
.env.*
*.key
*.pem

# OS
.DS_Store
Thumbs.db
*.log
*.bak
