# Build results
bin/
obj/

# Build verify outputs
build_verify_out*/

# Visual Studio
.vs/
*.user
*.suo

# Rider
.idea/

# NuGet
*.nupkg

# Publish
publish/
out/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
